@import "../style/variables.css";

.planet-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.seta-right {
  order: 0;
  flex: 0 1 auto;
  font-size: 5rem;
  align-self: auto;
}

.seta-left {
  order: 0;
  flex: 0 1 auto;
  font-size: 5rem;
  align-self: auto;
}

.seta-right a,
.seta-left a {
  color: var(--color);
}
