@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: SKCuber;
  src: url(../fonts/SK-Cuber.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 1400px; */
}

#root {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

body {
  /* background-image: url(../img/nebula.png); */
  background-image: url(../img/background-mod.png);
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  align-content: center;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  justify-content: space-between;
}

.svg {
  color: rgb(0, 250, 108);
  width: 10rem;
}
