.info-cards-container {
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 69%;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.info-card h4 {
  color: var(--color);
}

.info-cards h4 {
  font-size: 1rem;
}

.info-cards h5 {
  font-size: 1rem;
}

.info-cards2 {
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 1.1rem;
}

.info-cards2 h4 {
  color: rgb(92, 180, 247);
}
