.navbar {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar ul {
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style-type: none;
  text-decoration: none;
  margin: 0 1.3rem;
}

.navbar h1 {
  font-family: "SKcuber", cursive;
  margin: 1.2rem;
  font-size: 2rem;
}

.active {
  border-bottom: 4px solid red;
  border-color: var(--border-color);
}

.close-menu-btn,
.open-menu-btn {
  display: none;
  position: absolute;
  z-index: 10000000;
  top: 2rem;
  right: 1rem;
  font-size: 1.5rem;
  color: white;
}

.close-menu-btn {
}

.visible {
  display: flex;
}
