.planet {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3rem;
  justify-content: center;
  align-content: center;

  color: aliceblue;
  font-family: "Open Sans", sans-serif;
}

.planet-image-container {
  display: flex;
}

.planet-image {
  width: 30em;
  height: auto;
  filter: saturate(110%) contrast(110%);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-info {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.planet-information {
  /* margin: 10rem; */
  background-color: blueviolet;
}

.planet-resume {
  /* font-size: 1.1rem; */
  text-align: justify;
}

.planet h2 {
  font-size: 3rem;
  color: var(--color);
}

.planet h3 {
  font-size: 1.5rem;
}

.adicional-info {
  margin-top: 1.5rem;
}

.planet-type-span {
  color: var(--color);
}
